*{
    margin :0;
    padding: 0;
 }
 
 
 #navbar{
    display: flex;
    position: relative;
    align-items: center;
 }

#navbar::before{
    content: "";
    background-color: rgb(246, 11, 136);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#logo img{
    margin: 12px 12px;
    height: 42px;
    width: 42px;    
 }
 #navbar ul{
    display: flex;
 }
 #navbar ul li{
    list-style: none;
    font-size: 1.3rem;
 }
 #navbar ul li a{
    color: white;
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;

 }
 #navbar ul li a:hover{
    color: black;
    background-color: white;
  }
  #navbar ul img{
height: 35px;
width: 35px;  
}  
  
  #navbar ul input{
   width: 241px;
   height: 40px;
  }


  #home{
   display: flex;
   flex-direction: column;
   padding: 3px 200px;
   justify-content: center;
   align-items: center;
   height: 780px;

  }
  #home::before{
   content: "";
    background-color: rgb(142, 222, 236);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
   
  }
  #home h1{
font-size: 3.5rem;
color: brown;
font-family: Verdana, Geneva, Tahoma, sans-serif;
  }